.todo-list {
  list-style: none;
  margin: 2rem;
  padding: 0.5rem;
}

.todo-list li {
  border: 1px solid #ccc;
  margin: 0.25rem 0;
  padding: 1rem;

  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.todo-list li button {
  position: absolute;
  right: 0;
  margin-right: 1rem;
}

.btn {
  color: gray;
  background: none;
  border: 1px solid gray;
  border-radius: 24%;
}

.no-items-msg {
  text-align: center;
}
